.fila {
    visibility: hidden;
    width: 50px;
    height: 20px;
  }
  
  #titulo {
    color: white;
  }
  
  .aler {
    display: none;
    background-color: rgb(253, 83, 83);
    text-align: center;
    height: 29px;
    transition: transform 7s linear;
  }
  .menu {
    display: none;
  }
  .menu2 {
    display: block;
    text-align: center;
    color: white;
    z-index: 2;
    position: absolute;
    background-color: black;
    right: 12px;
  }
  li {
    list-style: none;
  }
  
  img {
    z-index: -1;
    position: absolute;
    background-size: cover;
  }
  